:root {
  /* color */
  --white-color: #fff;
  --white-light-color: #f0f0f0;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --blue-light-color: #a0c2ec;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --pink-color: #f74a4a;

  /* size */
  --padding: 12px;
  --avatar-size: 36px;

  /* font size */
  --font-large: 20px;
  --font-medium: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* border size */
  --radius-size: 5px;

  /* header size */
  --header-size: 35px;
}

/* common */
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--white-light-color);
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: var(--blue-color);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.fs_large {
  font-size: var(--font-large);
}

.fs_medium {
  font-size: var(--font-medium);
}

.fs_small {
  font-size: var(--font-small);
}

.fs_micro {
  font-size: var(--font-micro);
}

.line {
  background-color: var(--grey-light-color);
  width: 50px;
  height: 1px;
}

.main {
  width: 100%;
  /* height: 100%; */
  height: calc(100vh - var(--header-size));
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 935px; */
}

/* login */
.main .login {
  display: flex;
  flex-direction: column;
}

.border_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--grey-light-color);
  border-radius: var(--radius-size);
  background-color: var(--white-color);
}

.avatars {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: flex-start;
  margin-bottom: 10px;
  /* height: 130px; */
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
}

.avatar .image {
  width: 70px;
  height: 70px;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.avatar .txt {
  padding: 5px;
  color: var(--black-color);
  font-size: var(--font-medium);
}

.avatar img {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 50%;
}

.main .login .border_box {
  width: 220px;
  padding: 15px;
  margin-bottom: 10px;
}

.main .login .border_box .frm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .login .border_box .form_box .input_box {
  width: 100%;
  text-align: center;
}

.main .login .border_box label {
  position: relative;
}

.main .login .border_box label span {
  position: absolute;
  font-size: var(--font-micro);
  line-height: 27px;
  margin-left: 10px;
}

.txt_typing {
  position: relative;
  top: -7px;
  right: -10px;
  margin-left: 0;
  -webkit-transform: scale(0.65);
}

.main .login .border_box .form_box .input_box .btn {
  width: 100%;
  height: 20px;
  font-size: var(--font-small);
  background-color: var(--blue-light-color);
  color: var(--grey-light-color);
  border-radius: var(--radius-size);
}

.input_box {
  padding: 2px;
  width: 100%;
  height: 100%;
}

.input_box .txt {
  border: 1px solid var(--grey-light-color);
  height: 25px;
  width: 100%;
  border-radius: var(--radius-size);
  font-size: var(--font-micro);
  padding: 5px;
}

.input_box .txt:focus {
  border: 1px solid var(--grey-dark-color);
}

.line_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.line_box div {
  margin: 5px;
}

/* header */
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: violet; */
  height: var(--header-size);
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 200px;
}

.header .search input{
  background-color: var(--grey-light-color);
  color: var(--white-color);
  border-radius: 5px;
  width: 100%;
  height: 20px;
  padding: 5px;
  font-size: var(--font-micro);
}

.header .icons{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .icons i{
  margin-right: 10px;
}

/* home */
.main .main_left {
  height: 100%;
  overflow-y: scroll;
  text-align: right;
  /* background-color: var(--blue-light-color); */
  padding: 10px;
  margin-right: 10px;
  width: 55%;
}

.main .main_left div {
  text-align: center;
}

.main .main_right {
  font-size: var(--font-micro);
  position: sticky;
  top: var(--header-size);
  height: 100%;
  /* background-color: yellow; */
  text-align: left;
  margin-left: 10px;
  width: 25%;
  margin-top: 20px;
  max-width: 180px;
}

.article_list .article {
  margin-bottom: 10px;
}

.article_hedaer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.article_hedaer .img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.article_hedaer .img img {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 5px;
}

.article_hedaer .etc {
  margin-right: 10px;
}

.article_content img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.article_icons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.article_like{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.article_like .imgs{
  display: flex;
}

.article_like .links{
  font-size: var(--font-micro);
  margin-left: 15px;
}

.article_like .imgs a{
  width: 13px;
}

.article_like .imgs img{
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  /* padding: 5px; */
}

.article_comment{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  font-size: var(--font-micro);
}

.article_comment .comment{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.comment_write{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.comment_write input{
  width: 80%;
  font-size: var(--font-micro);
}

.comment_write button{
  color: var(--blue-light-color);
  font-size: var(--font-micro);
}


/* main_right */
.main_right .user_change{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main_right .user_change .name{
  display: flex;
  flex-direction: column;
}

.main_right .user_change img{
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.main_right .user_change button{
  font-size: var(--font-micro);
}

.main_right .commend{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main_right .follower_list{
  margin-top: 15px;
}

.main_right .follower_list .follower{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.main_right .follower_list .follower img{
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.main_right .follower_list .follower .name{
  display: flex;
  flex-direction: column;
}

.main_right .auth_right{
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
  margin-top: 10px;
}

.name span{
  color: var(--grey-dark-color);
}


@media screen and (max-width: 700px){
  .header .logo{
    width: 20%;
  }
  .header .search{
    width: 70%;
  }
  .header .icons{
    display: none;
  }
  .main .main_left{
    width: 80%;
    /* overflow-y: visible; */
  }
  .main .main_right{
    display: none;
  }
}