.main {
  display: flex;
  flex-direction: column;
}

.main .profile {
  background-color: var(--white-color);
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--grey-light-color);
  border-radius: 5px;
  margin-top: 5px;
}

.main .profile .photo {
  margin-right: 25px;
}

.main .profile .info {
  margin-left: 25px;
}

.main .profile .info > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-large);
}

.main .profile .info > div:first-child button {
  border: 1px solid var(--grey-dark-color);
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-right: 15px;
}

.main .profile .info > div {
  margin-bottom: 15px;
}

.main .profile .info > div > span {
  margin-right: 20px;
}

.main .profile .info > div:last-child > div {
  margin-bottom: 5px;
}

.main .profile .info > div:last-child > div:first-child {
  font-weight: bold;
}

.main .profile .info > div:last-child > div:last-child a {
  margin-right: 10px;
}

.main .profile .photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.main .board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  border: 1px solid var(--grey-light-color);
  border-radius: 5px;
  background-color: var(--white-color);
  padding: 10px 0;
}

.main .board .board_menus {
  padding: 10px;
}

.main .board .board_menus span {
  border-top: 1px solid var(--grey-dark-color);
  padding: 10px;
}

.main .board .board_items {
  text-align: center;
}

.main .board .board_items .item_board .item img {
  width: 300px;
  height: 200px;
}


/* home left */
.main .main_left {
  height: 100%;
  text-align: right;
  /* background-color: var(--blue-light-color); */
  /* padding: 10px; */
  width: 100%;
  margin-top: 5px;
}

.main .main_left div {
  text-align: center;
}

.main .main_left .avatars {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: flex-start;
  margin-bottom: 5px;
  /* height: 130px; */
}

.main .main_left .avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  /* overflow: hidden; */
}

.main .main_left .avatar .image {
  width: 50px;
  height: 50px;
  padding: 1px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.main .main_left .avatar .txt {
  padding: 5px;
  color: var(--black-color);
  font-size: var(--font-micro);
}

.main .main_left .avatar img {
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 50%;
}

.main .main_left .article_list .article {
  margin-bottom: 5px;
}

.main .main_left .article_list .article .article_hedaer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.main .main_left .article_list .article .article_hedaer .img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.main .main_left .article_list .article .article_hedaer .img img {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 5px;
}

.main .main_left .article_list .article .article_hedaer .etc {
  margin-right: 10px;
}

.main .main_left .article_list .article .article_content img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.main .main_left .article_list .article .article_icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.main .main_left .article_list .article .article_like {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.main .main_left .article_list .article .article_like .imgs {
  display: flex;
}

.main .main_left .article_list .article .article_like .links {
  font-size: var(--font-micro);
  margin-left: 15px;
}

.main .main_left .article_list .article .article_like .imgs a {
  width: 13px;
}

.main .main_left .article_list .article .article_like .imgs img {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  /* padding: 5px; */
}

.main .main_left .article_list .article .article_comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  font-size: var(--font-micro);
}

.main .main_left .article_list .article .article_comment .comment {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.main .main_left .article_list .article .comment_write {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.main .main_left .article_list .article .comment_write input {
  width: 80%;
  font-size: var(--font-micro);
}

.main .main_left .article_list .article .comment_write button {
  color: var(--blue-light-color);
  font-size: var(--font-micro);
}

/* home right */
.main .main_right {
  font-size: var(--font-micro);
  position: sticky;
  top: var(--header-size);
  height: 100%;
  text-align: left;
  margin-left: 10px;
  max-width: 180px;
  margin-right: 15px;
}

.main .main_right .user_change {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.main .main_right .user_change .name {
  display: flex;
  flex-direction: column;
}

.main .main_right .user_change img {
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.main .main_right .user_change button {
  font-size: var(--font-micro);
}

.main .main_right .commend {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .main_right .follower_list {
  margin-top: 15px;
}

.main .main_right .follower_list .follower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.main .main_right .follower_list .follower img {
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
}

.main .main_right .follower_list .follower .name {
  display: flex;
  flex-direction: column;
}

.main .main_right .auth_right {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
  margin-top: 10px;
}

.main .main_right .follower_list .follower .name span {
  color: var(--grey-dark-color);
}

@media screen and (max-width: 700px) {
  .header .logo {
    width: 20%;
  }
  .header .search {
    width: 70%;
  }
  .header .icons {
    display: none;
  }
  .main .main_left {
    
  }
  .main .main_right {
    display: none;
  }

  .main .profile {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .main .profile .photo{
    margin: auto;
  }

  .main .profile .info{
    margin-top: 10px;
  }

  .main .profile .info div{
    display: flex;
    justify-content: center;
  }

  .main .profile .info > div:last-child {
    flex-direction: column;
  }
}