:root {
  /* color */
  --white-color: #fff;
  --white-light-color: #f0f0f0;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --blue-light-color: #a0c2ec;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --pink-color: #f74a4a;

  /* size */
  --padding: 12px;
  --avatar-size: 36px;

  /* font size */
  --font-large: 24px;
  --font-medium: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* border size */
  --radius-size: 5px;

  /* header size */
  --header-size: 50px;
}

/* common */
* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--white-light-color);
  /* overflow-y: hidden; */
}

a {
  text-decoration: none;
  color: var(--blue-color);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: var(--font-large);
}

h2 {
  font-size: var(--font-medium);
}

h3 {
  font-size: var(--font-small);
}

h4 {
  font-size: var(--font-micro);
}

p {
  font-size: var(--font-micro);
}

.fs_large {
  font-size: var(--font-large);
}

.fs_medium {
  font-size: var(--font-medium);
}

.fs_small {
  font-size: var(--font-small);
}

.fs_micro {
  font-size: var(--font-micro);
}

.line {
  background-color: var(--grey-light-color);
  width: 120px;
  height: 1px;
}

.main {
  /* margin-top: 15px; */
  width: 100%;
  /* height: 100%; */
  /* height: calc(100vh - var(--header-size)); */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* max-width: 935px; */
}

.border_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--grey-light-color);
  border-radius: var(--radius-size);
  background-color: var(--white-color);
}

/* header */
.header {
  width: 100%;
  height: var(--header-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  /* margin-bottom: 5px; */
  /* background-color: violet; */
}

.header div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 200px;
}

.header .search input {
  background-color: var(--grey-light-color);
  color: var(--white-color);
  border-radius: 5px;
  width: 100%;
  height: 20px;
  padding: 5px;
  font-size: var(--font-micro);
}

.header .icons {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header .icons i {
  margin-right: 10px;
}


.hidden{
  display: none;
}

/* 팝업 */
.popup_black{
  background-color: rgba(0,0,0,.85);
  backdrop-filter: blur(4px);
  justify-content:center;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:50px;
}

.popup_black .popup_page{
  height: 100%;
  background-color: var(--white-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.popup_black .popup_page .popup_title{
  font-size: var(--font-large);
  padding: 15px;
}

.popup_black .popup_page .popup_body{
  width: 100%;
  text-align: center;
  overflow-y: scroll;
}

.popup_black .popup_page .popup_body .content{
  width: 120px;
  height: 120px;
  display: inline-block;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

.popup_black .popup_page .popup_body .content img{
  width: 100%;
  height: 100%;
  border-radius: 30%;
}

.popup_black .popup_page .popup_body .content input[type=checkbox]{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 20px;
}

.popup_black .popup_page .popup_footer{
  width: 100%;
  text-align: center;
  padding: 10px;
}

.popup_black .popup_page .popup_footer button{
  background-color: var(--blue-color);
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  color: var(--white-color);
}